container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_create_superuser_for_django_admin:
    command: "python manage.py mysuperuser"
    leader_only: true
  03_create_sample_survey_for_django_admin:
    command: "python manage.py samplesurvey"
    leader_only: true
  04_create_demo_department:
    command: "python manage.py demo"
    leader_only: true
  05_create_officer_links:
    command: "python manage.py officer_link"
    leader_only: true
  06_create_OX_survey:
    command: "python manage.py OX_survey"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: officers_survey.settings